In [1]:
from utils.db_connector import Db_Connector
db_conn = Db_Connector()

sql_create_db = '''
CREATE TABLE transactions (
                    id INTEGER PRIMARY KEY,
                    mov_date DATE,
                    mov_type TEXT,
                    amount NUMERIC,
                    comments TEXT
                )

'''

sql_create_db = '''
CREATE TABLE date_groups (
                    id INTEGER PRIMARY KEY,
                    start_date DATE,
                    end_date DATE,
                    label TEXT
                )

'''

db_conn.run_query_on_db(sql=sql_create_db)

In [2]:
data = db_conn.sql_to_df(sql='select * from date_groups')
data

   id  start_date    end_date         label
0   1  2023-10-13  2023-11-13  OCT-NOV-2023